.swiper {

  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
 
}

.swiper-slide img {
  display: block;
  width: 100%;

  border-radius: 10px;
}


.swiper-btn{
  width: 48px !important;
  height: 120px !important;
  font-size: 18px !important;
  border-radius: 10px;
 
  color:#fff !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%) ;
}
.swiper-btn:hover{
  transition: .3s ease !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) 0%, rgba(255, 255, 255, 0.589) 100%) ;
}